{% extends "layout.html" %}

{% block body %}
<h1>Admin</h1>

<div class="bof-form__label">local time on server</div><input type="text" readonly value="{{localservertime}}"/>
<br/>
<br/>

<div>
	<form action="{{ path_for( 'admin_config' )}}" method="POST">
		<div class="bof-form__item2">
			<label for="nomination_begins" class="bof-form__label">Nomination begins</label>
			<input type="date" name="nomination_begins" value="{{nomination_begins}}" class="bof-form__input2"/>
			<input type="time" name="time_nomination_begins" value="{{nomination_begins_time}}"/><br/>
			<label for="nomination_ends" class="bof-form__label">Nomination ends</label>
			<input type="date" name="nomination_ends" value="{{nomination_ends}}" class="bof-form__input2"/>
			<input type="time" name="time_nomination_ends" value="{{nomination_ends_time}}"/><br/>
			<label for="voting_begins" class="bof-form__label">Voting begins</label>
			<input type="date" name="voting_begins" value="{{voting_begins}}" class="bof-form__input2"/>
			<input type="time" name="time_voting_begins" value="{{voting_begins_time}}"/><br/>
			<label for="voting_ends" class="bof-form__label">Voting ends</label>
			<input type="date" name="voting_ends" value="{{voting_ends}}" class="bof-form__input2"/>
			<input type="time" name="time_voting_ends" value="{{voting_ends_time}}"/><br/>
		</div>
		<br/>
		<label for="password1" class="bof-form__label">New Admin Password</label>
		<input type="password" name="password1" class="bof-form-input2"/>
		<label for="password2" class="bof-form__label">Confirm Password</label>
		<input type="password" name="password2" class="bof-form-input2"/>
		<br/>
		<br/>
		<input type="submit" value="Save" class="btn btn--primary"/>
	</form>

	<br/>
	<br/>
	<form action="{{ path_for( 'admin_config' )}}" method="POST"
		onsubmit="return confirm('This will delete all participants apart from admin, and all nominations and votes. Do you really want to delete the database?');">
		<input type="hidden" name="reset_database" value="yes"/>
		<input type="submit" value="Reset Database" class="btn btn--danger"/>
	</form>

	<br/>
	<br/>
</div>

{% endblock %}
