{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
	function delete_item(type, id) {
		var item = document.getElementById(type + '_' + id);
		var delete_button = document.getElementById('delete_' + type + '_' + id);
		var br = document.getElementById('br_' + type + '_' + id);
		item.remove();
		delete_button.remove();
		br.remove();
	}

	function add_item(type) {
		var last_id_el = document.getElementById('last_' + type + '_id');
		var last_id = parseInt(last_id_el.value);
		var parent = document.getElementById(type + 's');
		var item = document.createElement('input');
		var delete_button = document.createElement('button');
		var br = document.createElement('br');
		br.id = 'br_' + type + '_' + last_id;
		item.type = 'text';
		item.id = type + '_' + last_id;
		item.name = type + 's[]';
		item.className = 'bof-form-input2';
		delete_button.type = 'button';
		delete_button.id = 'delete_' + type + '_' + last_id;
		delete_button.onclick = function() {
			delete_item(type, last_id);
			return false;
		};
		delete_button.innerHTML = "Delete";
		parent.appendChild(item);
		parent.appendChild(delete_button);
		parent.appendChild(br);
		last_id_el.value = ++last_id;
	}
</script>
<h1>Admin</h1>

<div class="bof-form__label">local time on server</div><input type="text" readonly value="{{localservertime}}"/>
<br/>
<br/>

<div>
	<form action="{{ path_for( 'admin_config' )}}" method="POST">
		<div class="bof-form__item2">
			<label for="nomination_begins" class="bof-form__label">Nomination begins</label>
			<input type="date" name="nomination_begins" value="{{nomination_begins}}" class="bof-form__input2"/>
			<input type="time" name="time_nomination_begins" value="{{nomination_begins_time}}"/><br/>
			<label for="nomination_ends" class="bof-form__label">Nomination ends</label>
			<input type="date" name="nomination_ends" value="{{nomination_ends}}" class="bof-form__input2"/>
			<input type="time" name="time_nomination_ends" value="{{nomination_ends_time}}"/><br/>
			<label for="voting_begins" class="bof-form__label">Voting begins</label>
			<input type="date" name="voting_begins" value="{{voting_begins}}" class="bof-form__input2"/>
			<input type="time" name="time_voting_begins" value="{{voting_begins_time}}"/><br/>
			<label for="voting_ends" class="bof-form__label">Voting ends</label>
			<input type="date" name="voting_ends" value="{{voting_ends}}" class="bof-form__input2"/>
			<input type="time" name="time_voting_ends" value="{{voting_ends_time}}"/><br/>
		</div>
		<br/>
		<div class="bof-form__item2">
			<div>
				<input type="checkbox" id="allow_edit_nomination" name="allow_edit_nomination" {{allow_edit_nomination_checked}} value="on" class="bof-form__input2"/>
				<label for="allow_edit_nomination">Allow editing of nominations</label>
			</div>
			<div>
				<input type="checkbox" id="allow_nomination_comments" name="allow_nomination_comments" {{allow_nomination_comments_checked}} value="on" class="bof-form__input2"/>
				<label for="allow_nomination_comments">Allow comments for nominations</label>
			</div>
		</div>
		<br/>
		<fieldset>
			<legend tabindex="-1">{{'Slots'|trans}}</legend>
			<div class="bof-form__item2" id="rounds">
			{% for round in rounds %}
				<input type="text" id="round_{{loop.index0}}" name="rounds[]" value="{{round}}" class="bof-form-input2"/>
				<button type="button" id="delete_round_{{loop.index0}}" onclick="delete_item('round', {{loop.index0}} )">{{'Delete'|trans}}</button>
				<br id="br_round_{{loop.index0}}"/>
			{% endfor %}
			</div>
			<button type="button" onclick="add_item('round')">{{'Add Slot'|trans}}</button>
			<input type="hidden" id="last_round_id" value="{{num_rounds}}"/>
		</fieldset>
		<br/>
		<fieldset>
			<legend tabindex="-1">{{'Rooms'|trans}}</legend>
			<div class="bof-form__item2" id="locations">
			{% for location in locations %}
				<input type="text" id="location_{{loop.index0}}" name="locations[]" value="{{location}}" class="bof-form-input2"/>
				<button type="button" id="delete_location_{{loop.index0}}" onclick="delete_item('location', {{loop.index0}} )">{{'Delete'|trans}}</button>
				<br id="br_location_{{loop.index0}}"/>
			{% endfor %}
			</div>
			<button type="button" onclick="add_item('location')">{{'Add Room'|trans}}</button>
			<input type="hidden" id="last_location_id" value="{{num_locations}}"/>
		</fieldset>
		<br/>
		<div class="bof-form__item2">
		<br/>
		<label for="password1" class="bof-form__label">New Admin Password</label>
		<input type="password" name="password1" class="bof-form-input2"/>
		<label for="password2" class="bof-form__label">Confirm Password</label>
		<input type="password" name="password2" class="bof-form-input2"/>
		</div>
		<br/>
		<br/>
		<input type="submit" value="Save" class="btn btn--primary"/>
	</form>

	<br/>
	<br/>
	<form action="{{ path_for( 'admin_config' )}}" method="POST"
		onsubmit="return confirm('This will delete all participants apart from admin, and all nominations and votes. Do you really want to delete the database?');">
		<input type="hidden" name="reset_database" value="yes"/>
		<input type="submit" value="Reset Database" class="btn btn--danger"/>
	</form>

	<br/>
	<br/>
	<form action="{{ path_for( 'admin_config' )}}" method="POST">
		<input type="hidden" name="download_database" value="yes"/>
		<input type="submit" value="Download Database" class="btn btn--primary"/>
	</form>


	<br/>
	<br/>
</div>

{% endblock %}
