{% extends "layout.html" %}

{% block body %}
<div class="landing">

  <svg class="landing__icon">
    <use xlink:href="/assets/svg/svg-symbols.svg#owl-green"></use>
  </svg>

  <h1 class="landing__title">
    {{'Birds of a Feather'|trans}}
  </h1>

  {% if loggedin == false %}
  <div class="button-block">
    <a href="{{ path_for('register')}}" class="btn btn--primary btn--block">
      {{'Register'|trans}}
    </a>

    <a href="{{ path_for('login')}}" class="btn btn--secondary btn--block">
      {{'Sign in'|trans}}
    </a>
  </div>
  {% endif %}
  
</div>

{% endblock %}
