<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}ICCM BOFs{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="/assets/css/{{branding}}.css">
    </head>
    <body>
        <div class="logoheader"><img class="logo" src="/assets/img/1x1.png"></img></div>
        {% if show_githubforkme == true %}
        <script type="text/javascript">
        (function(){
            var mlink=document.createElement('a');
            mlink.setAttribute("href","https://github.com/iccm-eu/bof");
            mlink.setAttribute("target","_blank");
            mlink.setAttribute("style","    position: absolute; top: 0; right: 0; z-index: 1000; color: white");
            mlink.innerHTML='Fork me on GitHub';
            document.body.insertBefore(mlink, document.body.childNodes[0]);
        })();
        </script>
        {% endif %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>


        {% if loggedin == true %}
          {% include 'partials/_foot-nav.html' %}
        {% endif %}

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script>
            // TODO: Jquery does the job here… replace this with Vanilla ASAP
            $('.js-slideout').slideDown().delay(3000).slideUp();
        </script>

    </body>
</html>
