<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ICCM BOF app{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        <div class="container">


            <div id="content">
                {% block body %}{% endblock %}

                <!--<div class="topic">
                    <div class="topic__tally">
                        <div class="topic__tally__inner" style="width: 16%"></div>
                        <span class="topic__tally__text">16 1⁄4 votes</span>
                    </div>

                    <div class="topic__detail">
                        <h1>Topic title</h1>
                        <p>This is a topic description… Lots of text… blah blah blah</p>
                    </div>

                    <div class="topic__vote">
                        <button class="btn btn--primary">Full vote</button>
                        <button class="btn btn--secondary">1⁄4 vote</button>
                    </div>
                </div>-->

            </div>
        </div>

        {% if loggedin == false %}
        <ul class="foot_nav">
            {% block sidebar %}
            <li>
                <a href="{{ path_for('home') }}">Home</a>
            </li>
            <li>
                <a href="{{ path_for('hello', { 'name': 'world' })}}">Hello World</a>
            </li>
            <li>
                <a href="{{ path_for('logout')}}">Logout</a>
            </li>
            {% endblock %}
        </ul>
        {% endif %}

        <script src="/assets/js/vendors.js" crossorigin="anonymous"></script>
        <script src="/assets/js/bundle.js" crossorigin="anonymous"></script>

    </body>
</html>
