<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ICCM BOF app{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>


        {% if loggedin == true %}
          {% include 'partials/_foot-nav.html' %}
        {% endif %}

        <script src="/assets/js/vendors.js" crossorigin="anonymous"></script>
        <script src="/assets/js/bundle.js" crossorigin="anonymous"></script>

    </body>
</html>
