{% extends "layout.html" %}

{% block body %}

<h1 class="title">{{'Login'|trans}}</h1>

{% if message == 'invalid' %}
<div class="notice notice--error">
<h1>{{'Error'|trans}}</h1>
<p>{{'Invalid username or password.'|trans}}</p>
</div>
{% endif %}
{% if message == 'waitformoderation' %}
<div class="notice notice--error">
<h1>{{'Error'|trans}}</h1>
<p>{{'Wait for moderation.'|trans}}</p>
</div>
{% endif %}
{% if message == 'newuser_waitformoderation' %}
<div class="notice notice--error">
<h1>{{'Hint'|trans}}</h1>
<p>{{'Wait for moderation.'|trans}}</p>
</div>
{% endif %}
{% if message == 'confirmuser' %}
<div class="notice notice--error">
<h1>{{'Hint'|trans}}</h1>
<p>{{'Please confirm your email address by visiting the link sent to your email address.'|trans}}</p>
</div>
{% endif %}


<form action="{{ path_for( 'authenticate' )}}" method="POST" class="bof-form">

  <div class="bof-form__item">
    <label class="bof-form__label">{{'Username'|trans}}</label>
    <input type="text" name="user_name" class="bof-form__input"/>
  </div>

  <div class="bof-form__item">
    <label class="bof-form__label">{{'Password'|trans}}</label>
    <input type="password" name="password" class="bof-form__input"/>
  </div>

  <input type="submit" value="{{'Login'|trans}}" class="btn btn--primary" />
</form>

{% endblock %}
