<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ICCM BOF app{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/main.css">
	    <!-- <meta http-equiv="refresh" content="5" /> -->
    </head>
    <body>
        <div class="container container--projector">
            {% for topic in bofs %}
                {% include 'partials/_topic_projector.html' %}
            {% endfor %}
        </div>

        <script src="/assets/js/vendors.js" crossorigin="anonymous"></script>
        <script src="/assets/js/bundle.js" crossorigin="anonymous"></script>

    </body>
</html>
