{% extends "layout.html" %}

{% block body %}
<h1>{{'Settings'|trans}}</h1>

{% if message != '' %}
<div class="notice notice--error">
<h1>{{'Success'|trans}}</h1>
<p>{{message}}</p>
</div>
<br/>
{% endif %}

<br/>

<div>
	<form action="{{ path_for( 'settings_save' )}}" method="POST">
		<fieldset>
			<label for="notifications" class="bof-form__label">{{'Notification by E-Mail'|trans}}</label>
			<select id="notifications" name="notifications">
				<option value="0" {{notifications0}}>{{'notification_none'|trans}}</option>
				<option value="10" {{notifications10}}>{{'notification_own'|trans}}</option>
				<option value="20" {{notifications20}}>{{'notification_new'|trans}}</option>
				<option value="99" {{notifications99}}>{{'notification_all'|trans}}</option>
			</select>
		</fieldset>
	<input type="submit" value="{{'Save'|trans}}" class="btn btn--primary"/>
	</form>

	<br/>
	<br/>
</div>

{% endblock %}
