{% extends "layout.html" %}

{% block body %}

	{% if newuser == 1 %}
		{% include 'partials/_created_new_user.html' %}
	{% endif %}

	{% if stage == "voting" or stage == "call_for_workshops" %}
	<div class="notice notice--warning">
		<h2>{{ left_votes }}&nbsp; {{'full votes left, and unlimited number of 1/4 votes'|trans}}</h2>
	</div>
	{% endif %}

	{% if voted_successfull %}
	<div class="notice notice--success js-slideout" style="display: none;">
		<h2>
			{{'Yeeeeey! You did it! You sent your vote. So great...'|trans}}
		</h2>
	</div>
	{% endif %}

	<div class="notice">
		<form action="{{ path_for( 'topics')}}" method="GET" class="bof-form">
		  <div class="bof-form__item">
			<label class="bof-form__label">{{'Filter Expression'|trans}}</label>
			<input type="text" name="filtertags" class="bof-form__input" value="{{filtertags}}" placeholder="ALL AND NOT Cancelled"/>
		  </div>
		  <input type="submit" value="{{'Filter'|trans}}" class="btn btn--primary" />
		</form>
	</div>

	{% for topic in bofs %}           
		{% include 'partials/_topic.html' %}
  {% endfor %}
<br/><br/>
{% endblock %}
