{% extends "layout.html" %}

{% block body %}

	{% if newuser == 1 %}
		{% include 'partials/_created_new_user.html' %}
	{% endif %}

	{% if stage == "voting" %}
	<div class="notice notice--warning">
		<h2>{{ left_votes }} full votes left, and unlimited number of 1/4 votes</h2>
	</div>
	{% endif %}

	{% if voted_successfull %}
	<div class="notice notice--success js-slideout" style="display: none;">
		<h2>
			Yeeeeey! You did it! You sent your vote. So great...
		</h2>
	</div>
	{% endif %}

	{% for topic in bofs %}           
		{% include 'partials/_topic.html' %}
  {% endfor %}
<br/><br/>
{% endblock %}
