<ul class="foot-nav">
  {% if (stage == 'nominating') %}
  <li>
    <a href="{{ path_for('nomination')}}">Nominate topic</a>
  </li>
  {% endif %}
  {% if (is_admin and (stage=='nomination' or stage=='locked' or stage=='finished')) %}
  <li>
    <a href="{{ path_for('moderation') }}">Moderate topics</a>
  </li>  
  {% endif %}
  {% if (is_admin and stage=='finished') %}
  <li>
    <a href="{{ path_for('result') }}">Calculate result</a>
  </li>
  {% endif %}
  <li>
    <a href="{{ path_for('topics') }}">All topics</a>
  </li>
  <li>
    <a href="{{ path_for('projector') }}">Projector</a>
  </li>
  <li>
    <a href="{{ path_for('logout')}}">Logout</a>
  </li>
</ul>
