
<div class="topic">
  <!--
    TODO: Get percentage sent from database
  {% if stage == "voting" %}
  <div class="topic__tally">
    <div class="topic__tally__inner" style="width: 16%"></div>
    <span class="topic__tally__text">16 1⁄4 votes</span>
  </div>
  {% endif %}
  -->

  <div class="topic__detail">
    <h1>{{ topic.name }}</h1>
    {% if topic.leader %}
    <p>{{'Facilitator'|trans}}:&nbsp;{{ topic.leader }}</p>
    {% endif %}
    {% if topic.tags %}
    <p style="text-align: right">{{'Tags'|trans}}:&nbsp;{{ topic.tags | trim(';')}}</p>
    {% endif %}
  </div>

  {% if topic.votes > 0 %}
    <div class="topic__vote-count">
      {{'Votes'|trans}}:&nbsp;{{ topic.votes }}
    </div>
  {% endif %}

</div>
