.btn {
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 16px;
  padding-top: 16px;
  transition: all .5s;

  &__primary {
    background: siteColor(bof-lilac);
    border-bottom: 5px solid siteColor(bof-lilac-dark);

    &:hover {
      background: siteColor(bof-lilac-dark);
    }
  }

  &__secondary {
    background: siteColor(bof-sky-blue);
    border-bottom: 5px solid siteColor(bof-sky-blue-dark);

    &:hover {
      background: siteColor(bof-sky-blue-dark);
    }
  }
}
