.btn {
  appearance: none;
  border: 0;
  color: siteColor(bof-button-foreground);
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  min-width: 75px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
  width: 100%;

  &:hover {
    color: siteColor(bof-button-foreground);
  }

  &--primary {
    background: siteColor(bof-primary-background);
    border-bottom: 5px solid siteColor(bof-primary-bottom);

    &:hover {
      background: siteColor(bof-primary-hover);
    }

    &.btn--toggled {
      background: siteColor(bof-primary-toggled);
    }
  }

  &--secondary {
    background: siteColor(bof-secondary-background);
    border-bottom: 5px solid siteColor(bof-secondary-bottom);

    &:hover {
      background: siteColor(bof-secondary-hover);
    }

    &.btn--toggled {
      background: siteColor(bof-secondary-toggled);
    }
  }

  &--danger {
    background: siteColor(bof-danger-background);
    border-bottom: 5px solid siteColor(bof-danger-bottom);

    &:hover {
      background: siteColor(bof-danger-hover);
    }
  }

  &--block {
    display: block;
    flex: 1 1 auto;
  }
}


.button-block {
  display: flex;
  width: 100%;
}
