.facilitation {
  font-size: 16px;
  display: flex;
  align-items: center;
  border: 1px solid siteColor(bof-facilitation-border);
  padding: 8px;
  width: 100%;
}

.facilitation__btn {
  appearance: none;
  background: siteColor(bof-facilitation-border);
  border: 0;
  color: siteColor(bof-button-foreground);
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  height: 40px;
  margin-right: 16px;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
  width: 40px;

  &:hover {
    background: darken(siteColor(bof-facilitation-hover), 10);
  }
}
