body {
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
  padding: 0 10px;
  min-height: calc(100vh - 149px);

  &--projector {
    padding: 16px;
    max-width: 1200px;
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.potentialfacilitators {
  font-size: 12px;
}

.logoheader {
  background-color: siteColor(bof-logo-background);
  position: sticky;
  top: 0;
}

.logo {
  background: siteImage(bof-logo-image) no-repeat;
  background-position: center left;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: siteSize(bof-logo-height);
  width: siteSize(bof-logo-width);
  margin: siteSize(bof-logo-margin);
}

@media (max-width: 500px) {
  .logo {
    margin: siteSize(bof-logo-margin-mobile);
  }
}


.projectortable {
  border: 2px solid siteColor(bof-body);
  border-collapse: collapse;
  //table-layout: fixed;
  width: 100%;
  thead {
    th:nth-child(1) {
      border: 2px solid siteColor(bof-body);
      width: 20%;
    }
    th:nth-child(2) {
      border: 2px solid siteColor(bof-body);
      width: 50%;
    }
    th:nth-child(3) {
      border: 2px solid siteColor(bof-body);
      width: 20%;
    }
    th:nth-child(4) {
      border: 2px solid siteColor(bof-body);
      width: 10%;
    }
  }
  tbody {
    tr:nth-child(odd) {
      background-color: siteColor(bof-secondary-background);
      border: 2px solid siteColor(bof-body);
    }
    tr:nth-child(even) {
      background-color: siteColor(bof-secondary-bottom);
      border: 2px solid siteColor(bof-body);
    }
  }
  td {
    border: 2px solid siteColor(bof-body);
  }
}
