@import url('https://fonts.googleapis.com/css?family=Lato');

$site_colors: (
  sockeye: #d06348,
  petrel: #282938,
  bof-hr-bottom: #282938,
  gold-braid: #c6ae40,
  lark-green: #83c3a5,
  simple-grey: #e6e6e6,
  bof-body-background: #fff,
  deviant-grey: #d9d9d9,
  bof-topic-tally-background: #d9d9d9,
  bof-sky-blue: #afdde9,
  bof-secondary-background: #afdde9,
  bof-sky-blue-dark: #37abc8,
  bof-secondary-bottom: #37abc8,
  bof-secondary-hover: #37abc8,
  bof-secondary-toggled: #37abc8,
  bof-lilac: #c6afe9,
  bof-primary-background: #c6afe9,
  bof-lilac-dark: #5a2ca0,
  bof-primary-bottom: #5a2ca0,
  bof-primary-hover: #5a2ca0,
  bof-primary-toggled: #5a2ca0,
  bof-foot-background: #bcd35f,
  bof-topic-tally-inner-background: #bcd35f,
  bof-grass-green: #bcd35f,
  bof-success-background: #bcd35f,
  bof-mustard: #ffcc00,
  bof-warning-background: #ffcc00,
  bof-danger-background: #ff8080,
  bof-danger-bottom: #ff5555,
  bof-danger-hover: #ff5555,
  bof-button-foreground: #fff,
  bof-abbr-bottom: #808080,
  bof-facilitation-border: #808080,
  bof-facilitation-hover: #f0f8ff,
  bof-body: #000,
  bof-topic-background: #fff,
  bof-logo-background: #fff,
);

$site_sizes: (
  bof-logo-margin: 0px 0px 0px 130px,
  bof-logo-height: 98px,
  bof-logo-width: 100%,
);

$site_images: (
    bof-logo-image: url(/assets/img/ICCM-Africa-logo.png),
);

$font-family: (
  main: ('Lato', sans-serif)
);

$breakpoints: (
  x-small: 360px,
  small: 768px,
  medium: 1024px,
  large: 1200px
);

@import 'vars';
@import 'main';
@import 'basic-mixins';
@import 'reset';
@import 'form';
@import 'buttons';
@import 'notice';
@import 'facilitation';

@import 'landing';
@import 'foot-nav';
@import 'topic';
