@import url('https://fonts.googleapis.com/css?family=Lato');

@import 'vars';
@import 'basic-mixins';
@import 'reset';
@import 'form';
@import 'buttons';
@import 'notice';
@import 'facilitation';

@import 'landing';
@import 'foot-nav';
@import 'topic';

body {
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
  padding: 0 10px;

  &--projector {
    padding: 16px;
    max-width: 1200px;
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
