<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="test/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    beStrictAboutCoversAnnotation="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="true"
    processIsolation="false"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix=".php">test/classes</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="test/results/index.html"/>
    </logging>
    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="false">
        <include>
            <directory suffix=".php">classes</directory>
        </include>
        <report>
            <html outputDirectory="test/results/coverage"/>
            <xml outputDirectory="test/results/coverage"/>
        </report>
    </coverage>
    <php>
    </php>
</phpunit>
